<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repudiandae consequuntur laboriosam explicabo fuga accusamus labore fugiat fugit itaque nemo.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repudiandae consequuntur laboriosam explicabo fuga accusamus labore fugiat fugit itaque nemo.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repudiandae consequuntur laboriosam explicabo fuga accusamus labore fugiat fugit itaque nemo.</p>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script src="../firebase.js"></script>
</body>
</html>